
@{
    ViewBag.Title = "Bio";
}

<h2>Bio</h2>
<h4>Personal Information</h4>
<br />
<table class="table table-striped">
    <tbody>
        <tr>
            <td>Name:</td>
            <td>Fahim Faisal</td>
        </tr>
        <tr>
            <td>Father's Name:</td>
            <td>Rafiqul Islam</td>
        </tr>
        <tr>
            <td>Mother's Name:</td>
            <td>Fahima Khatun</td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>Male</td>
        </tr>
        <tr>
            <td>Date of Birth:</td>
            <td>22-April-1999</td>
        </tr>
        <tr>
            <td>Nationality:</td>
            <td>Bangladeshi</td>
        </tr>
        <tr>
            <td>Address:</td>
            <td>Haluaghat, Mymensingh</td>
        </tr>
    </tbody>
</table>


