
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<h4>Projects Information</h4>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Projects Name</th>
            <th>Technologies</th>
            <th>Github Link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Student Forum</td>
            <td>Spring Boot, Thyme leaf, Bootstrap</td>
            <td>https://github.com/fahim2204/Student-Forum</td>
        </tr>
        <tr>
            <td>Student Portal</td>
            <td>Laravel, React Js, Bootstrap</td>
            <td>https://github.com/fahim2204/Student-Portal</td>
        </tr>
        <tr>
            <td>ABC Shop Management</td>
            <td>PHP, HTML, JS, MVC, CSS, MySQL</td>
            <td>https://github.com/fahim2204/ABC-Shop-Management</td>
        </tr>
        <tr>
            <td>High School Management</td>
            <td>C#, MS SQL</td>
            <td>https://github.com/fahim2204/High-School-Management</td>
        </tr>
        <tr>
            <td>DX-Ball (Game)</td>
            <td>C++, OpenGL</td>
            <td>https://github.com/fahim2204/DX-Ball</td>
        </tr>
        <tr>
            <td>Super Shop Management</td>
            <td>Java, MySQL</td>
            <td>https://github.com/fahim2204/Super-Shop-Management</td>
        </tr>
       
    </tbody>
</table>


